/*---------------------------*/
/*          FONTS            */
/*---------------------------*/
@font-face {
    font-family: "Montserrat-Light";
    src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("./fonts/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("./fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("./fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("./fonts/Montserrat-BoldItalic.ttf");
}
html {
    height: 100%;
}

body {
    font-family: Montserrat;
    color: #000000;
    font-size: 14px;
    height: 100%;
}
.page-wraper {
    min-height: 100%;
    overflow: hidden;
}
.background-light-footer {
	background-color: #f8f0d0;
	overflow: hidden;
	padding: 50px 70px 0px 70px;
}
pre{
    margin:0px;    
}

.main-content-wrapper {
    min-height: 100%;
    padding-bottom: 1rem;
    overflow: hidden;
}

.T1, .T2 {
    font-family: Montserrat-Light;
}

.T1 {
    font-size: 16px;
}

.T2 {
    font-size: 16px;
}

.T3 {
    font-size: 14px;
}

.T4 {
    font-size: 14px;
    font-family: Montserrat-Bold;
}

h1 {
    font-family: Montserrat-LightItalic;
    font-size: 26px;
	line-height: 34px;
}

h2 {
    font-family: Montserrat-Medium;
    font-size: 21px;
}

h3 {
    font-family: Montserrat-Bold;
    font-size: 40px;
}

.p-100{
    padding:0px 100px;
}

.color-BBAE9D{
	color:#BBAE9D;	
}
a.button{
    line-height: 1.2;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 10px 30px !important;
    word-spacing: normal;
}
a.n2-ow{
    letter-spacing: 0.1em !important;
    font-size: 12px!important;
}
a.button:hover,a.button:focus,a.button:active{
    background-color: #b5965a !important;
}
span.price{
    display: none !important;
}
/**
* header
 */
 
header{
    height:auto;
}

.container-fluid {
    margin:0px;
    padding:0px;
}
.navbar-toggler{
    border-color:black;    
}

.navigation{
    text-align:center;
}
.navigation li{
    display: inline;
    margin: 0px 10px;

}
.navigation li a {
	font-size: 15px;
    color: #fff;
}
.navigation li a:hover {
    color: #fff;
    border-bottom: 1px solid white;
    text-decoration: none;
}
.menu_list{
    bottom: 10px;
    position: absolute;
    right: 30px;
}
.menu-list-container {
    padding: 0rem 5rem;
    background: #6e0000;
}
@media(max-width:1024px){
	 .header_logo{
        width:300px;
    }
}
#wprmenu_menu_ul{
    width:100%;
}
 /**
* footer widget
 */

#footer{
    font-size: 10pt;
}

.widgetfooter {
    float: right;
}

.widgetfooter ol, ul {
    padding-left: 20px;
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    list-style: disc;
}
.product-sublist {
    list-style: circle;
}

#menu-footer-widget-3{
    padding:0px;
}

.widgetfooter ul li {
    margin: auto;
    text-align: right;
    line-height: 2em;
    display: inline;
    padding: 0 15px;
}

.widgetfooter ul li:last-child{
    padding-right: 0;
}
.widgetfooter ul a {
    color: #bbb;
    font-weight: lighter;

}
.widgetfooter ul a:hover {
    border-bottom: 1px solid #bbb;
    text-decoration: none;
}
.footer-text {
    color: #bbb;
    font-weight: lighter;
}
/* Mobiles in Potrait mode */
@media only screen
and (max-width : 320px) {
    .widgetfooter {
        float: left;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        margin:auto;
    }
}
 
/* Mobiles in landscape mode */
@media only screen
and (min-width : 321px)
and (max-width : 480px) {
    .widgetfooter {
        float: left;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        margin:auto;
    }
}
.above_header{
    height:40px;
}
/**
* User
 */

.user:before{
    font-family:WooCommerce;
    content: "\e03a";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    float:right;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
    color:black;
}

/**
* Cart
 */

/*.cart-contents::before {*/
/*    font-family: WooCommerce;*/
/*    content: "\e01d";*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    font-weight: 100;*/
/*    padding-right: 5px;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*}*/
.cart-contents::before {
   content:'';
   background-image:url("images/icon_shopping_cart.png");
   background-size:contain;
   background-repeat:no-repeat;
   padding-right:20px;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #cc7f2e;
    font-weight: lighter;
    border-radius: 12px;
    float: right;
    padding: 2px 4px 1px 3px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

/**
* Shop page product list changes
 */
.woocommerce-loop-product__title {
    font-size: 14pt !important;
    font-family: Montserrat-Bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.woocommerce-loop-product__title:hover {
    color: #000000;
}

.products .price {
    font-size: 12pt !important;
    color: #000000 !important;
    text-align: center;
}

.product-icon {
	display:none;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center
}

.product-link, .product-link:hover {
    color: #BBAE9D;
    font-size: 12pt;
    text-transform: capitalize;
}
.bottom-banner-container{
	background:#dcc678;padding:3em;
}

.bottom-banner{
	color:#FFF;
}
.bottom-banner .circle{
	height: 75px;width: 100%;border-radius: 50px;
}

.overlay {
    position: absolute;   
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(187,174,157,0.95);
    left: 50%;
    transform: translateX(-50%);
	top: 0;
	color:#000;
	height:100%
}
.overlaybutton{
	bottom: 1.5rem;
    position: absolute;
    width: 100%;
}

.overlaybutton button {
    border-width: 1px 0px;
    background: none;
    border-color: #000;
    font-weight: 400;
}
.btn.rounded-0.T1:hover, .btn.rounded-0.T1:focus, .btn.rounded-0.T1:active {
    transform: scale(1.05);
    font-weight: bold;
}

.woocommerce ul.products li.product:hover .overlay{
  opacity: 1;
}

.woocommerce ul.products li.product .star-rating {
    display: none;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.woocommerce ul.products li.product .add_to_cart_button{
    display:none;
}
@media(max-width:1024px){
	 .overlay .T1{
        font-size:6pt;
    }
}
/*
 * Css for Single product page
 */
 
 
span.amount,.woocommerce div.product p.stock{
	color:#000;	
}
.woocommerce .star-rating::before,.woocommerce .star-rating span::before{
	color:#BBAE9D;
}
.woocommerce-review-link{
	color:#000;
}
.woocommerce-review-link:hover{
	color:#000;
	border-color:#000;
}


.quantity-select{
    padding: 5px;
    border-radius: 5px;
    border-color: #000;
    outline-color:white;
    height: 35px;
}

.single_add_to_cart_button{
    background-color : rgb(187,174,157) !important;
    border-radius:0px;
    width:200px;
    float:right !important;
}

.button {
    background-color : rgb(187,174,157) !important;
    color:white !important;
    font-weight:normal !important;
}
.button:hover{
	background-color : #898989 !important;
	text-decoration:none;
	color:white !important;
}

#product-description{
    margin-top: 5rem;   
}

.card:first-child{
    border-top-width:1px;
}

.card{
    border-width:0px 0px 1px 0px;
}

.card-header {
    background: none;
    border-bottom: 0px;
    padding-left: 0px;
}
#product-description a.btn-link{
    padding-left: 0px;
}
.card-header button,.card-header button:hover{
    color : #000;    
}
#product-description .card-body{
    padding-left: 0px !important;
    font-size: 10pt;
}
.card-header i{
    cursor:pointer;    
}

.woocommerce-Reviews-title{
    border-bottom:1px solid #eee;    
    padding-bottom:5px;
}

.total-reviews{
    border-bottom:1px solid #eee;    
    margin-bottom:3em;
}

#review_form_wrapper{
    display:none;    
}

.woocommerce #reviews #comments ol.commentlist li{
    border-bottom:1px solid #eee;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text{
    margin:0px;
    border-width:0px;
}
#customer_details,#order_review{
        width:50%;
    
}
@media(max-width:992px){
    .menu_bar_container{
        display:none !important;
    } 
    .menu-list-container{
        text-align:center;
        padding:0rem 1rem;
    }
     #customer_details,#order_review{
        width:100%;
    }
}

#product-ingredients-area .card-body table td:nth-child(2) {
    width: 120px;
    vertical-align: top;
    padding-left: 30px;
}
#product-ingredients-area table{
    margin-bottom: 1.5rem;
}
/*---------------------------*/
/*        CART PAGE          */
/*---------------------------*/


.shop_table{
    border:none !important;
}

/******************************/
/*     Checkout page          */
/*****************************/


#billing_company_field .woocommerce-input-wrapper,#billing_address_1_field .woocommerce-input-wrapper,#billing_address_2_field .woocommerce-input-wrapper,#billing_city_field .woocommerce-input-wrapper,#shipping_company_field .woocommerce-input-wrapper,#shipping_address_1_field .woocommerce-input-wrapper,#shipping_address_2_field .woocommerce-input-wrapper,#shipping_city_field .woocommerce-input-wrapper,#billing_email_field .woocommerce-input-wrapper{
  width:100%;
}

#billing_country_field,#billing_state_field,#billing_postcode_field,#shipping_country_field,#shipping_state_field,#shipping_postcode_field {
  width:33%;    
  float:left;
}

#billing_country_field .woocommerce-input-wrapper,#billing_state_field .woocommerce-input-wrapper,#billing_postcode_field .woocommerce-input-wrapper,#shipping_country_field .woocommerce-input-wrapper,#shipping_state_field .woocommerce-input-wrapper,#shipping_postcode_field .woocommerce-input-wrapper{
    width:100%;
    
}

#billing_phone_field {
  clear:both;
}

#order_review{
   background-color: #ebe9eb 
}

.product-image img{
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart_item .badge{
    top: -3px;
    position: absolute;
    border-radius: 50px;
    left: 40px;
    padding:0.25em 0.5em;
}


.shop-our-products{
	margin:5rem 0rem;
}

.shop-all-products{
	margin-bottom:5rem;
}

/**********************************/
/******** Contact page************/
/********************************/

#wpforms-111 input,#wpforms-111 textarea{
    background: #f2f2ed;
    border: none;
    padding:25px 20px;
}

.wpforms-submit-container{
    text-align:center;
}

/** For coming soon product **/
.woocommerce ul.products li.product .available {
    text-align:center;
}

#product-description ul {
    list-style: disc;
}

/**********************************/
/******** FAQ ACCORDION************/
/**********************************/

[data-toggle="collapse"]::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f068";
    cursor: pointer;
    top: 30px;
    position: absolute;
    right: 0px;
}

#accordion .collapse .card-body, #accordion .collapsing .card-body {
    padding-top: 0;
    padding-bottom: 1.75rem;
}


[data-toggle="collapse"].collapsed:after {
  content: "\f067";
  cursor: pointer;
}

.faq-inquiry{
    color:black;
}
.faq-inquiry:hover{
    color:black;
}

#wow-modal-window-1 {
    padding: 30px 50px !important;
}
#wow-modal-close-1.mw-close-btn.image::before {
    font-size: 30px !important;
}
.empty-cart {
    height: 350px;
    position: relative;
}
.cart-body {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
/******************************************************* /
/******** Responsive Menu for PortraitModde *************/
/********************************************************/


@media only screen and ( max-width: 813px ) {html body div.wprm-wrapper {
				overflow: scroll;
			}html body div.wprm-overlay{ background: rgba(0,0,0,0.83) }
				#mg-wprm-wrap ul li {
					border-top: solid 1px rgba(255,255,255,0.05);
					border-bottom: solid 1px rgba(255,255,255,0.05);
				}
				
				
			
				html body div#mg-wprm-wrap .wpr_submit .icon.icon-search {
					color: #FFFFFF;
				}
				#wprmenu_bar .menu_title, #wprmenu_bar .wprmenu_icon_menu {
					color: #FFFFFF;
				}
				#wprmenu_bar .menu_title {
					font-size: 20px;
					font-weight: normal;
				}
				#mg-wprm-wrap li.menu-item a {
					font-size: 15px;
					text-transform: uppercase;
					font-weight: normal;
				}
				#mg-wprm-wrap li.menu-item-has-children ul.sub-menu a {
					font-size: 15px;
					text-transform: uppercase;
					font-weight: normal;
				}
				#mg-wprm-wrap li.current-menu-item > a {
					background-color: inherit ;
				}
				#mg-wprm-wrap li.current-menu-item > a,
				#mg-wprm-wrap li.current-menu-item span.wprmenu_icon{
					color: #FFFFFF !important;
				}
				
				.cbp-spmenu-push-toright {
					left: 80% ;
				}
				.cbp-spmenu-push-toright .mm-slideout {
					left:80% ;
				}
				.cbp-spmenu-push-toleft {
					left: -80% ;
				}
				#mg-wprm-wrap.cbp-spmenu-right,
				#mg-wprm-wrap.cbp-spmenu-left,
				#mg-wprm-wrap.cbp-spmenu-right.custom,
				#mg-wprm-wrap.cbp-spmenu-left.custom,
				.cbp-spmenu-vertical {
					width: 80%;
					max-width: 400px;
				}
				#mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item a,
				div#mg-wprm-wrap ul li span.wprmenu_icon {
					color: #FFFFFF !important;
				}
				#mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item a:hover {
					background: #000000;
					color: #FFFFFF !important;
				}
				div#mg-wprm-wrap ul>li:hover>span.wprmenu_icon {
					color: #FFFFFF !important;
				}
				.wprmenu_bar .hamburger-inner, .wprmenu_bar .hamburger-inner::before, .wprmenu_bar .hamburger-inner::after {
					background: #FFFFFF;
				}
				.wprmenu_bar .hamburger:hover .hamburger-inner, .wprmenu_bar .hamburger:hover .hamburger-inner::before,
			 .wprmenu_bar .hamburger:hover .hamburger-inner::after {
				background: #FFFFFF;
				}
			div.wprmenu_bar div.hamburger{padding-right: 6px !important;}
				#wprmenu_menu.left {
					width:80%;
					left: -80%;
					right: auto;
				}
				#wprmenu_menu.right {
					width:80%;
					right: -80%;
					left: auto;
				}
			html body div#wprmenu_bar {
					height : 42px;
				}#mg-wprm-wrap.cbp-spmenu-left, #mg-wprm-wrap.cbp-spmenu-right, #mg-widgetmenu-wrap.cbp-spmenu-widget-left, #mg-widgetmenu-wrap.cbp-spmenu-widget-right {
					top: 42px !important;
				}
					.wprmenu_bar .hamburger {
						float: left;
					}
					.wprmenu_bar #custom_menu_icon.hamburger {
						top: 0px;
						left: 0px;
						float: left !important;
						background-color: #CCCCCC;
					}
				.custMenu #custom_menu_icon {
				display: block;
			}html { padding-top: 42px !important; }#wprmenu_bar,#mg-wprm-wrap { display: block; }
			div#wpadminbar { position: fixed; }}

.stripe-card-group,
.woocommerce-account .StripeElement,
.woocommerce-checkout .StripeElement {
	width: 100%;
}

input[name='update_cart'] {
    display: none !important;
}
 
/* OR TRY THIS */
 
button[name='update_cart'] {
    display: none !important;
}

#accordion .card-header p{
	color:#aa0000;
	font-size: 18px;
}

.woocommerce-notices-wrapper{
    padding-top:3rem;
}

.coming_soon_label{
    background-color: rgb(187,174,157);width: 200px;padding: .618em 1em;color:white;text-align: center;
}
.footer-small-text{
    color: #bbb;
    font-weight: lighter;
    font-size:11px;
}
.banner-heading p,.banner-heading .n2-ow {
    text-shadow: 2px 2px 3px rgb(0,0,0) !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;

}
.banner-subheading p,.banner-subheading .n2-ow{
    text-shadow: 2px 2px 3px rgb(0,0,0) !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}
.banner-promocode p,.banner-promocode .n2-ow{
    text-shadow: 2px 2px 3px rgb(0,0,0) !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}
.overlaybutton .T1{
    font-size: 12px;
}
.background-light-footer h4 {
    font-size: 15px;
}
.background-light-footer h5 {
    font-size: 13px;
}
@media only screen
and (min-width : 768px) {
    .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    	float: left;
    	width: 40%;
    }
    
    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    	float: right;
    	width: 60%;
    	clear: none;
    }
}

.inline-link:hover {
	color: #d2a54d;
	text-decoration: underline;
}
.inline-link {
	color: #b5965a;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
/*.footer-highlight {*/
/*	padding: 0 50px;*/
/*}*/

/*@media only screen*/
/*and (min-width : 321px)*/
/*and (max-width : 1024px) {*/
/*     .footer-highlight {*/
/*    	padding: 0 20px;*/
/*    }*/
/*}*/

.reg-text-link {
	color: #da4f4f;
}
.reg-text-link:hover {
	color: #a00;
	text-decoration: underline;
}
div.wpforms-container-full .wpforms-form label.wpforms-error{
    color:red !important;
}
