/*
Theme Name: Yogic Lite
Theme URI: https://gracethemes.com/product/free-meditation-wordpress-theme/
Author: Grace Themes
Author URI:
Description: Yogic Lite is a free meditation WordPress theme specially designed to create professional and elegant website for yoga, meditation, pilates, wellness center, personal coach and health related websites. This multipurpose theme can also be used for charity, NGO, church, gym, sports club, beauty and spa websites.  Demo Link: http://www.gracethemesdemo.com/yogic/

Version: 1.3
License: GNU General Public License version 2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: yogic-lite
Requires PHP:  5.2
Tested up to: 5.4.1
Tags:blog,two-columns,right-sidebar,full-width-template,custom-colors,custom-menu,custom-header,custom-logo,featured-images,editor-style,custom-background,threaded-comments,theme-options, translation-ready

yogic-lite WordPress Theme has been created by Grace Themes(gracethemes.com), 2020.
yogic-lite WordPress Theme is released under the terms of GNU GPL
*/

body{ 
font-family: 'Assistant', sans-serif;
background-color:#ffffff; 
margin:0; 
padding:0;
line-height:24px; 
font-size:16px; 
color:#5c5c5c; 
 -ms-word-wrap:break-word; 
 word-wrap:break-word; 
}
*{ margin:0; padding:0; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
img{ border:none; margin:0; padding:0; height:auto; max-width:100%;}
/*image align css*/
.alignnone{ width:100%;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #cccccc;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #cccccc;}
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top:0;  height:auto;}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0; max-width:100% !important;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#efc62c;}
a:hover{ color:#111;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}

h1,h2,h3,h4,h5,h6{ font-family: 'Assistant', sans-serif; color:#303030; margin:0 0 20px; padding:0; font-weight:600; line-height:1.1; }
h1.entry-title{ font-weight:bold; margin-bottom:40px; font-size:30px; }
h1{ font-size:32px;}
h2{ font-size:30px;}
h3{ font-size:28px;}
h4{ font-size:24px;}
h5{ font-size:20px;}
h6{ font-size:16px;}

/*
Lists style CSS
-------------------------------------------------------------*/
ol,ul{ margin:0; padding:0;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
ul,ol { margin:0; padding: 0;}
ul {list-style: inside none disc;}
ol {list-style: decimal;}
ul li,ol li {margin-bottom: 0;	margin-left: 1.5em;}
dt {font-weight: 700;}
dd {margin: 0 1.5em 1.5em;}
audio:not([controls]) {	display: none;height: 0;}
img {border-style: none;}
svg:not(:root) {overflow: hidden;}
a {	background-color: transparent;	-webkit-text-decoration-skip: objects;}
a:active, a:hover {outline-width: 0;}
b, strong {	font-weight: bold;}
pre {background: #ddd;font-size: 14px;	font-size: 0.9375rem;line-height: 1.4;margin-bottom: 1.6em;	max-width: 100%;overflow: auto;	padding:20px;}
iframe{max-width:100%;}
.breadcrumbs{padding:10px 0; margin-bottom:0;}
nav.pagination{ clear:both;}
#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
nav.pagination .page-numbers{ background-color:#ccc; padding:10px 15px; font-size:15px; font-weight:600; color:#444;}
nav.pagination .page-numbers.current{background-color:#efc62c;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}


figcaption,figure{	display: block;}
figure {margin: 1em 0;}
blockquote{  padding:20px; color:#666; font-size:15px; line-height:1.5; margin-bottom:30px; font-style:italic; background-color:#f1f1f1}
blockquote p{ margin-bottom:0 !important;}
hr {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;	height: 0;	overflow: visible;}
.textwidget select{ width:100%;}
.tagcloud a{ font-size:12px !important; color:#fff; border:1px solid #fff; padding:5px 12px; margin:0 5px 5px 0; display:inline-block;}
.tagcloud a:hover{ border:1px solid #fff;}
table{ width:100%}


/* = Default Button CSS
--------------------------------------------- */
.button{  border:1px solid #404040; color:#404040; padding:10px 30px; display:inline-block; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px; }
.button:hover{ border:1px solid #cf317c; color:#cf317c; }
a.blogreadmore{ background-color:#505050; color:#fff ; padding:5px 20px; display:inline-block; border-radius:3px;}
a.blogreadmore:hover{ background-color:#404040; color:#fff; }


/* = Header top css
-------------------------------------------------------------- */

.yogic_lite_hdrsocial a{ width:30px; height:38px; line-height:38px; text-align:center; display:inline-block; margin:0 3px 0 0; padding:0; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s; font-size:16px; color:#fff; }
.yogic_lite_hdrsocial br{ display:none;}

/* = top stip css
------------------------------------------- */
.yogic_lite_topbar{ background-color:#1d1d1d; color:#fff;}
.yogic_lite_topbar .left{ width:50%;}
.yogic_lite_infobx{ display:inline-block; margin:0 5% 0 0; text-align:left; color:#fff; font-size:16px;}
.yogic_lite_topbar .yogic_lite_infobx a{ color:#fff;}
.yogic_lite_infobx i{ margin:0 15px 0 0; line-height:32px; text-align:center; font-size:18px; }



/* = Main site CSS
-------------------------------------------------------------*/
#sitelayout{ margin:0 auto; overflow-x:hidden;}
.container{ width:1170px; margin:0 auto; position:relative;}
.site-header{ width:100%; z-index:999; box-sizing:border-box; position:absolute; }
.site-header.siteinner{ position:relative; }
.yogic_lite_hdrmenu{ background-color:rgba(0,0,0,0.2); }
.site-header.siteinner .yogic_lite_hdrmenu{ background-color:rgba(0,0,0,0.6); }
.logo{ background-color:#cf317c; text-align:center; width:25%; margin:0 auto; padding:10px 15px; position: absolute; top:-40px; left:0; right:0; z-index:9999;  }
.logo h1{font-weight:600; margin:0px; }
.logo a{color:#000;}
.logo p{ color:#fff; display:block;}
.logo.innerlogo{ position:relative; top:auto;}
#topnavigator.innerlogo{ padding-top:0;}

/* = Header Navigation CSS
-------------------------------------------------------------*/
#topnavigator{ padding:45px 0 0 0; text-align:center;}

.site-navigation ul li a, .site-navigation ul li.current_page_item ul.sub-menu li a, .site-navigation ul li.current-menu-parent ul.sub-menu li a, .site-navigation ul li.current-menu-parent ul.sub-menu li ul.sub-menu li a{ color:#fff;}
.site-navigation ul li ul li a:hover, 
.site-navigation ul li ul li a, 
.site-navigation ul li.current_page_item ul.sub-menu li a:hover, 
.site-navigation ul li.current-menu-parent ul.sub-menu li a:hover,
.site-navigation ul li.current-menu-parent ul.sub-menu li.current_page_item a,
.site-navigation ul li.current-menu-parent ul.sub-menu li a.parent.parent-2:hover,
.site-navigation ul li.current-menu-parent ul.sub-menu li ul.sub-menu li a:hover{ border-bottom:1px solid #404040 !important}


.site-navigation {
	display: block;
	margin: 0;
}

/* Styling the links */
.site-navigation a {
	display: block;
	font-size: 1.125rem;
	padding: 0.75em 0.75em;
	color: #111;	
	text-decoration: none;
	box-sizing: border-box;
	width: 100%;
	white-space: normal;
}

/* Background color change on Hover */
.site-navigation .menu a:hover,
.site-navigation .menu a:focus { 	
	color:#cf317c;
}

/* Set menu item's width to 100% */
.site-navigation .menu li {
	display: inline-block;
	width: 100%;
}

/* Styling the toggle buttons */
.menu-toggle {	
	padding:5px;
	color: #111;
	font-size:14px;
	text-decoration: none;
	border: 1px solid #111;
	border-radius: 4px;
	display: block;
	position: absolute;
	top:-55px;
	right:5px;	
	z-index:999999;
}

.menu-toggle .dashicons {
	vertical-align: text-bottom;
}

.menu-toggle .dashicons:before {
	content: '\f228';
}

.toggled .menu-toggle {
	background-color: #606060;
}

.toggled .menu-toggle .dashicons:before {
	content: '\f158';
}

.dropdown-toggle {
	background-color: transparent;
	padding: 0.5em;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	border: 1px solid transparent;
	border-left: 1px solid #bbb;
	border-radius: 0;
	color: #fff;
	text-align: center;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	border: 1px dashed;
}

.dropdown-toggle .dashicons {
	font-size: 1.25rem;
}

.dropdown-toggle .dashicons:before {
	content: '\f347';
	color:#fff;
}

.toggled-on > .dropdown-toggle .dashicons:before {
	content: '\f343';
	color:#fff;
}

/* Hide Submenus by default using absolute positioning instead of display:none;. */
.site-navigation .menu,
.site-navigation .menu li,
.site-navigation .menu ul,
.site-navigation .menu li:hover > ul,
.site-navigation .menu li:focus > ul {
	position: absolute;
	top: 100%;
	left: -9999em;
	color: #000000;
	padding: 0;
	margin: 0;
}

/* Display the menu when clicked on Menu Toggle */
.toggled .menu {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	background-color:#444;
}

.toggled .menu li {
	position: relative;
	left: unset;
	border-bottom:1px solid #bbb;
}

.toggled .menu li > .sub-menu {
	display: none;
}

.toggled .menu .toggled-on > .sub-menu {
	display: block;
	position: relative;
	left: 0;
	top: 100%;
}

.site-navigation .menu ul a,
.site-navigation .menu ul ul a {
	padding: 1.25em 0.75em;
}

.site-navigation .menu ul a {
	padding: 0.75em 1.25em;
}

.site-navigation .menu ul ul a {
	padding: 1.25em 1.75em;
}

.site-navigation .menu ul a,
.site-navigation .menu ul ul a {
	color: #fff; 
}


/*--------------------------------------------------------------
8. Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
nav:before,
nav:after {
	content: "";
	display: block;
}

.clear:after,
.site-header:after,
.site-content:after,
.site-footer:after,
nav:after {
	clear: both;
}


@media screen and (min-width: 769px) {

/*
5. Navigation
	5.1 Links	
*/

/* 5.2 Menus */

.menu-toggle,
.dropdown-toggle {
	display: none;
}

.site-navigation {
	/*display: flex;*/
	align-items: start;
}

.site-navigation .primary-menu,
.site-navigation .social-menu {
	/*display: flex;*/
	position: static;
}

.site-navigation .social-menu {
	border-left: 1px solid #bbb;
}

.site-navigation .menu li {
	position: relative;
	width: auto;
	left: unset;
}

.site-navigation .menu ul li:first-child {
	border-top: 0;
}

.site-navigation .menu a,
.site-navigation .menu ul a,
.site-navigation .menu ul ul a {
	font-size: 1.125rem;
	padding: 0.75em 0.75em;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.site-navigation .menu ul {
	position: absolute;
	background-color:#303030;
	text-align:left; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 100%;
	left: -9999em;
	/*! border: 1px solid #606060; */
}
	
/* Display Dropdowns on hover and focus */
.site-navigation .menu li:hover > ul,
.site-navigation .menu li:focus > ul,
.site-navigation .menu li.focus > ul {
	left: 0;
}
	
/* First Tier Dropdown */
.site-navigation .menu ul li {
	position: relative;
	width: 170px;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.site-navigation .menu li li:hover > ul,
.site-navigation .menu li li:focus > ul,
.site-navigation .menu li li.focus > ul {
	top: 0;
	left: 100%; 
}

.site-navigation .menu ul a:hover,
.site-navigation .menu ul a:focus { 	
	color: #cf317c;
}

.menu-item-has-children > a:after,
.page_item_has_children > a:after {
	font-family: dashicons;
	content: '\f347';
	vertical-align: bottom;
	margin-left: 0.25em;
}

.menu-item-has-children .menu-item-has-children > a:after,
.menu-item-has-children .page_item_has_children > a:after,
.page_item_has_children .menu-item-has-children > a:after,
.page_item_has_children .page_item_has_children > a:after {
	content: '\f345';
	font-family: dashicons;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

}



/* = Three Column Services Section CSS
-------------------------------------------------------------- */
#yogic_lite_services_section{ background-color:#f1f1f1;  z-index:9999; position:relative; padding:60px 0; }
.yogic_lite_3column{  width:30%; float:left; margin:0 5% 0 0; position:relative; box-sizing:border-box; text-align:center; }
.yogic_lite_3column p{ margin-bottom:30px; }
.yogic_lite_3column h3{ font-size:22px; font-weight:600; color:#121212; margin:25px 0 25px; line-height:24px;}
.yogic_lite_3column h3 a{ color:#121212;}
.yogic_lite_3column .services_image_box{ background-color:#cf317c; margin:0 auto; overflow:hidden; height:255px; position:relative; }
.yogic_lite_3column .services_image_box img { height:auto; width:auto; min-height:255px; }
.yogic_lite_3column:hover .services_image_box img {opacity:.3;}

.pagedesc_box{ position:relative; }
.one_column{ float:none;}
.one_column.services_3box{ margin:0 auto !important;}


.yogic_lite_3column .services_image_box::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.yogic_lite_3column .services_image_box:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.yogic_lite_3column .learnmore{ background-color:#282828; color:#fff ;display: inline-block; padding:12px 35px; text-transform:uppercase; font-weight:600; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px; font-size:16px; }


/* = Page layout css
-------------------------------------------------------------- */
.content_section_right{ float:right; width:68%; margin:0; padding:10px 0 40px; }
.content_section_right ul, .content_section_right ol{ margin:0 0 20px 20px; }
.content_section_right ul li, .content_section_right ol li{ margin:0; }
.content_section_right ul ul, .content_section_right ol ol{ margin:0 0 0 30px; }

.fullwidth{ width:100% !important; float:none  !important;}
.fullwidth p{ margin-bottom:15px;}

.boxlayout{ width:1210px; margin:0 auto; background-color:#fff; position:relative; box-shadow:0 -8px 8px #111;}
.fulllayout{ width:100% !important;}
#yogic_lite_content_wrapper{ padding:50px 0;}
#yogic_lite_content_wrapper p{ margin-bottom:30px;}
.frontpage_slider{ position:relative;}
h2.sectiontitle{font-weight:600; font-size:40px; margin-bottom:50px; position:relative; text-align:center;}
.last_column{clear:right; margin-right:0 !important; }

/* = Sidebar CSS
-------------------------------------------------------------- */
#sidebar{ float:left; width:28%; }
aside.widget{ background-color:#fff; margin-bottom:30px; padding:20px; box-shadow:0 0 10px #ddd;}
h3.widget-title{ font-weight:400; padding:15px; margin:-20px -20px 15px; color:#fff; font-size:22px; position:relative; background-color:#eb6e01;  }
aside.widget ul{ list-style:none; margin:0; padding:0; }
#sidebar ul li{ border-bottom:1px solid #ddd; list-style:none; margin:0 0 2px 0; padding:7px 10px 7px 0; -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
	
#sidebar ul li:hover{padding-left:5px;}	
#sidebar ul li a{ color:#3b3b3b; }
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child{ border:none;}
aside .textwidget{ padding:20px; background-color:#f5f5f4;}


/*sidebar search form css*/
#sidebar .search-form{ margin-bottom:20px;}
#sidebar .search-form input.search-field{ background-color:#fff; width:80%; padding: 13px 15px 13px 15px; border:1px solid #ddd; }
#sidebar .search-form input.search-submit{ background:url(images/search-icon.png) no-repeat center center #efc62c; padding: 12px 0 12px 0; font-size:0; width:20%; height:43px; float:right; border:0;}


/* = Blog post styles
-------------------------------------------------------------- */
.default_article_list{ margin:0 0 50px 0; padding:0; }
.default_article_list .blogthumbimg{ margin:0 0 20px 0; position:relative;}
.default_article_list .blogthumbimg img{ height:auto;}
.default_article_list h3, h3.single-title{ margin-bottom:15px; font-size:24px; font-weight:600;}
.default_article_list h3 a{ color:#484f5e;}
.default_article_list h3 a:hover{ color:#efc62c;}
.default_article_list p{ margin-bottom:20px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, 
.post-comment, 
.post-categories, 
.edit-link{ display:inline; color:#333; font-weight:600; text-transform:uppercase; margin:0 10px 0 0;} 
.single_title{ margin-bottom:5px;}
body.single-post .default_article_list { width:100%; float:none; margin:0; }

.blog_postmeta{ margin-bottom:20px; color:#888; }
.blog_postmeta a{ color:#999;}
.blog_postmeta a:hover{ color:#cf317c;}
.blogpostmorebtn{ background-color:#505050; color:#fff; padding:10px 20px; font-weight:600; border-radius:3px; display:inline-block; }
.blogpostmorebtn:hover{ background-color:#303030; color:#fff;}

/* = Footer css
-------------------------------------------- */
.site-footer{ background-color:#242d34; padding:0; position:relative; color:#fff;}
.copyright-txt span{color:#fff;}
.powerby{ padding-top:10px; }
.site-footer h5{ font-size:25px; margin-bottom:35px;  position:relative; color:#fff; }
.site-footer .widget{ padding:50px 0 50px;}
.widget-column-1{ width:23%; float:left; margin:0 3% 0 0; }
.widget-column-2{ width:23%; float:left; margin:0 3% 0 0; }
.widget-column-3{ width:23%; float:left; margin:0 3% 0 0; }
.widget-column-4{ width:22%; float:left; margin:0; }
.site-footer ul{ margin:0; padding:0;}
.site-footer ul li { list-style:none; padding:0 0 8px 0; margin:0; color:#fff;}
.site-footer ul li a { color:#fff; }
.site-footer ul li a:hover, .site-footer ul li.current_page_item a { color:#cf317c; }


/* = Footer Copyrigh wrapper css
-------------------------------------------- */
.copyrigh-wrapper{ background-color:#1e252a; color:#fff; position:relative; text-align:center; padding:15px 0;}
.copyrigh-wrapper a:hover{ color:#fff;}

/* = Contact Form 7 css
-------------------------------------------------------------- */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#efc62c; width:auto; border:none; cursor:pointer; color:#ffffff; padding:10px 40px; border-radius:3px;}

/* = WooCommerce plugin css code
-------------------------------------------------------------- */
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}

.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

.woocommerce .quantity .qty{ padding:7px; border:1px solid #ccc;}
.woocommerce-Price-amount.amount{font-size:14px !important;}
.woocommerce div.product .product_title{ padding-bottom:20px !important;}
.woocommerce div.product form.cart{ margin-top:15px !important;}


/* = Comment Form css
-------------------------------------------------------------- */
h1.screen-reader-text{font-family: 'Assistant', sans-serif; font-size:22px;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{ font-size:20px;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}

ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}
#commentform input#submit{ background-color:#32373a; border:none; padding:12px 25px; color:#fff; display:inline-block; cursor:pointer; border-radius:5px; text-transform:uppercase;}
#commentform input#submit:hover{background:#34c6f6; color:#fff;}
.form-allowed-tags{display:none;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}
.commentlist, ol.commentlist {list-style:none; box-shadow:0 0 5px #666; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666; -khtml-box-shadow:0 0 5px #666; margin:10px 0; background-color:#fff; padding:10px 0;}
.commentlist li, ol.commentlist li { list-style:none; background-image:none !important; padding:0px 15px;}
.commentlist li ol li.depth-2, .commentlist li ol li.depth-3, .commentlist li ol li.depth-4, ol.commentlist li ol li.depth-2, ol.commentlist li ol li.depth-3, ol.commentlist li ol li.depth-4 { border-bottom:none;}
.commentlist li.bypostauthor article, ol.commentlist li.bypostauthor article { background:#f9ffe1;}
.commentlist article, .commentlist li.bypostauthor li article, ol.commentlist li.bypostauthor li article { border:none !important; padding:10px; position:relative; background-color:#fff;}
.commentlist li .fn { font-weight:normal; font-size:15px; font-style:normal;}
.commentlist li.bypostauthor .fn, ol.commentlist li.bypostauthor .fn { color:#000;}
img.avatar { vertical-align:middle; position:static; display:inline-block;}
.commentlist article a time { display:block; clear:both; padding:5px 0 10px; font-size:11px; font-style:italic; }
.commentlist, ol.commentlist p { font-size:14px;}
.commentlist .reply span, ol.commentlist .reply span { display:none;}
.commentlist .reply a, ol.commentlist .reply a { display:block;	padding:10px; text-align:center; background:#f6f6f6; margin:5px 0; border:1px #ddd solid;}
.comment-author.vcard{display:inline-block; margin-right:15px;}
.comment-list ul.children li.comment{background-image:none; padding-left:5px;}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; 
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#yogic_lite_content_wrapper[tabindex="-1"]:focus {
  outline: 0;
}
/* = form Focus CSS
-------------------------------------------- */

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="file"]:focus,
textarea:focus,
a:focus {
	outline: thin dotted #000;
}

.yogic_lite_topbar .yogic_lite_infobx a:focus,
.yogic_lite_hdrsocial a:focus,
.site-navigation ul li a:focus,
.site-footer ul li a:focus {
	outline: thin dotted #fff;
}