/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ position:relative;}
.frontpage_slider{position:relative;}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:9;
	cursor:pointer;
}
a.nivo-prevNav {
	left:0;
	background-position:-57px 0;
	border-radius:0 5px 5px 0;	
}
a.nivo-nextNav {
	right:0;
	background-position:-41px 0 !important;	
	border-radius:5px 0 0 5px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {	
	padding: 15px 0 5px;
	position: absolute;   
    width: auto;
	bottom:-120px;
	left:6%;	
	z-index:9;
	display:none;	
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a {
    border: 0 none;
    display:inline-block;
	background-color:#fff;
    height: 12px;
    margin:5px;
    text-indent: -9999px;
    width:50px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
.nivo-controlNav a.active {
	font-weight:bold;
    background-position: 0 -21px;
	background-color:#efc62c;
}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 43px; 
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 43px;	
	background:url(../images/slide-nav.png) no-repeat left top;	
	background-color:rgba(0,0,0,0.7);
}


/* Caption styles */
.nivo-caption {
	position:absolute;
	right:8%;	
	margin:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color:#fff;
	z-index:8;	
	width:35%; 
	text-align:left;
	top:55%; 
	transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%);
	 }

.nivo-caption h2{ font-weight:600; color:#fff; margin:0 0 25px 0;  position:relative; display:inline-block;}
.nivo-caption p{  margin-bottom:35px;}
.nivo-caption .slide_morebtn{ background-color:#cf317c; color:#fff; padding:12px 40px; border-radius:25px; text-transform:uppercase; display:inline-block; }
.nivo-caption .slide_morebtn:hover{ background-color:#111; color:#fff;}