/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by, .powerby{ float:none; text-align:center;}
.yogic_lite_topbar .left{ width:100%;}
.container { width:auto; padding:0 20px;}
.site-header{ position:relative;}
.blogthumbimg{ width:100%; float:none; margin:0 0 10px;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
.content-area{ width:auto; margin:0; padding:50px 20px;}
.content_section_right{ width:auto; float:none;}
.yogic_lite_hdrsocial{ padding:0 20px;}
.widget-column-1, .widget-column-2, .widget-column-3, .widget-column-4{ float:none; width:100%; margin:0 0 5px; padding:0; text-align:left;}
.site-footer .container{ padding:0 20px;}
.copyrigh-wrapper .container{ padding:0 20px;}
.yogic_lite_infobx{ margin:0 auto 5px auto; padding:0; border:none;}
/*slider css*/
#slider{ top:0; margin:0;}
.nivo-caption{ width:70%; padding:15px; }
.nivo-caption h2{ font-size:24px !important; line-height:24px !important; margin:0 0 10px !important;}
.nivo-caption h2 span{ font-size:20px !important; display: inline;}
.nivo-caption p{ line-height:16px; font-size:14px; margin-bottom:20px;}
.nivo-caption .slide_morebtn{ padding:5px 20px; font-size:12px;}
.nivo-directionNav a{ top:35% !important;}
.nivo-controlNav{ display:none !important;}
a.nivo-prevNav{ left:1%;}
a.nivo-nextNav{right:1%;}
h2.section_title{ font-size:34px; margin-bottom:25px;}
/*front blog post*/

.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
#sitelayout{ width:100%;}
.default_article_list .blogthumbimg{ width:auto; height:auto; overflow:hidden; float:none; margin:0 0 25px 0;}
.default_article_list .blogthumbimg img{ height:auto; min-height: inherit;}
.default_article_list{ float:none; width:100%; margin:0 0 30px 0;}
.yogic_lite_3column{ width:100%; float:none; margin:0 0 30px; padding:0; }
.yogic_lite_3column .services_image_box{ height:200px;}
.yogic_lite_3column .services_image_box img{ min-height:200px;}

.site-footer .widget{ padding:40px 0 20px;}
.yogic_lite_3column{ float:none; width:100%;}
#topnavigator{ padding:0;}
}

/* Mobile Landscape View */
@media screen and (min-width: 481px) and (max-width: 767px){
*{box-sizing:border-box;}
.container, .content-area{ width:440px; margin:0 auto;}
.nivo-controlNav{ display:none !important;}
.blogthumbimg{ width:50%; float:left; margin:5px 20px 10px 0;}

}
/* Mobile Landscape View */
@media screen and (min-width: 300px) and (max-width: 481px){
*{box-sizing:border-box;}
.nivo-caption{ width:90%; top:50%;}
.nivo-caption .slide_morebtn, .nivo-caption p{ display:none;}
.yogic_lite_hdrsocial{ display:block; padding:0; position:relative; text-align:center;}
.yogic_lite_hdrsocial a{ padding:0; padding:0 10px; display:inline-table; line-height:40px;}
.nivo-directionNav{ display:none;}
}

@media screen and (min-width:768px) and (max-width: 980px){
.site-header { width:100%; position:relative !important;}
.yogic_lite_hdrmenu{ background-color:rgba(0, 0, 0, 0.8);}
.nivo-directionNav a{ top:40%;}
.yogic_lite_3column .services_image_box{ height:150px;}
.yogic_lite_3column .services_image_box img{ min-height:150px;}

}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
*{box-sizing:border-box;}
.container { width:auto; padding:0 20px;}
/*slider css*/
.nivo-caption{ width:60%;}
.nivo-caption h2{ font-size:42px; line-height:45px;}
.content-area{ width:auto; margin:0; padding:50px 20px;}
.nivo-caption h2 span{ font-size:inherit; display:inline-block;}
#sidebar{ width:30%;}
.content_section_right{ width:65%;}
#sitelayout{ width:100%;}
}

@media screen and (max-width:1169px) and (min-width:981px) { 
html{overflow-x:hidden; }
.yogic_lite_3column .services_image_box{ height:230px;}
.yogic_lite_3column .services_image_box img{ min-height:230px;}


}

@media screen and (max-width: 980px){
.site-header{ position:relative; }
.logo{ width:auto; float:none; text-align:center; margin:0 auto; position:relative; padding:10px; top:auto; display:table; }
#topnavigator{ padding:0;}
}